{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block css %}
<style>
    .container {
        min-height: 90vh;
    }
</style>
{% endblock css %}

{% block Aboutactive %}active{% endblock Aboutactive %}
{% block body %}
<div class="container my-3">
    <div class="row featurette d-flex justify-content-center align-items-center ">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like with
                some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="/static/boot_img/thumb2.jpg" height="300" width="400" alt="">

        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center ">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like with
                some actual content. Your content.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/boot_img/thumb4.jpg" height="300" width="400" alt="">


        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center ">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like with
                some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="/static/boot_img/thumb3.jpg" height="300" width="400" alt="">


        </div>
    </div>
</div>
{% endblock body %}