{% extends 'base.html' %}

{% block title %}Services{% endblock title %}
{% block Servicesactive %}active{% endblock Servicesactive %}
{% block css %}
<style>
    .main-container {
        min-height: 90vh;
    }
</style>
{% endblock css %}

{% block body %}
<div class="container-fluid main-container">
    <div class="row my-4 mx-4">

        <div class="col-md-6 col-lg-4 text-center">
            <img class="rounded-circle" src="/static/logo/cloudai.jpg" width="140" height="140">
            <h4>Machine Learning Tutorials For Beginners Using Python</h4>
            <p>
                In this series, we will learn about Machine Learning Tutorials For Beginners Using Python
            </p>
            <p>

                <a href="ml-tutorials-in-hindi-1"><button class="btn btn-outline-danger">Start Watching »</button></a>

            </p>
        </div>

        <div class="col-md-6 col-lg-4 text-center">
            <img class="rounded-circle" src="/static/logo/django.png" width="140" height="140">
            <h4>Python Django Tutorials with awesome Real World Projects</h4>
            <p>
                In this series, we will learn about Python Django Tutorials
            </p>
            <p>

                <a href="python-django-tutorials-hindi-0"><button class="btn btn-outline-danger">Start Watching
                        »</button></a>

            </p>
        </div>

        <div class="col-md-6 col-lg-4 text-center">
            <img class="rounded-circle" src="/static/logo/oop.png" width="140" height="140">
            <h4>Object Oriented Programming Using Python Programming</h4>
            <p>
                In this series, we will learn about Object Oriented Programming Using Python Programming
            </p>
            <p>

                <a href="object-oriented-hindi-1"><button class="btn btn-outline-danger">Start Watching »</button></a>

            </p>
        </div>

        <div class="col-md-6 col-lg-4 text-center">
            <img class="rounded-circle" src="/static/logo/pygame.png" width="140" height="140">
            <h4>Python Game Development Using Pygame</h4>
            <p>
                In this series, we will learn about Python Game Development Using Pygame
            </p>
            <p>

                <a href="python-game-development-1"><button class="btn btn-outline-danger">Start Watching »</button></a>

            </p>
        </div>

        <div class="col-md-6 col-lg-4 text-center">
            <img class="rounded-circle" src="/static/logo/flas_jdzfxKn.png" width="140" height="140">
            <h4>Web Development Using Flask and Python</h4>
            <p>
                In this series, we will learn about Web Development Using Flask and Python
            </p>
            <p>

                <a href="web-dev-using-flask-and-python-1"><button class="btn btn-outline-danger">Start Watching
                        »</button></a>

            </p>
        </div>

        <div class="col-md-6 col-lg-4 text-center">
            <img class="rounded-circle" src="/static/logo/python2.png" width="140" height="140">
            <h4>Intermediate python Tutorials</h4>
            <p>
                In this series, we will learn about Intermediate/Advanced python Tutorials
            </p>
            <p>

                <a href="intermediate-python-1"><button class="btn btn-outline-danger">Start Watching »</button></a>

            </p>
        </div>

    </div>
</div>

{% endblock body %}